PORT=5000
MONGO_URI=mongodb://quanlyhethonghocsinh:loc12345@ac-r3ygwn2-shard-00-00.p1hkyuj.mongodb.net:27017,ac-r3ygwn2-shard-00-01.p1hkyuj.mongodb.net:27017,ac-r3ygwn2-shard-00-02.p1hkyuj.mongodb.net:27017/student_management?ssl=true&replicaSet=atlas-79ymqg-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=supersecretkey_for_dev_only
